---
 - name: Playbook to create multiple users using a list
   hosts: all
   become: true
   tasks: 
   - name: multiple users using list
     user:
       name: '{{ item }}'
       state: present
     with_items:
       - Dell
       - HP
       - Lenovo
... 
